.main-container {
  width: clamp(320px, 100%, 1000px);
  padding: 0 1em;
  margin: 0 auto 0 auto;
}

/* .main-container::before {
  content: '';
  position: relative;
  display: block;
  height: 4em;
  background-color: var(--secondary-color);

  width: 200vw;
  left: -100vw;
} */

.about-contact-profiles {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.about-contact-profiles > * {
  margin: 0em 1em;
  color: var(--d-gray);
}
