.main-container {
  width: min(100%, 1000px);
  padding: 0 1em;
  margin: 0 auto 0 auto;
}

.about-contact-profiles {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.about-contact-profiles > * {
  margin: 0em 1em;
  color: var(--d-gray);
}
