.item-info {
  margin-bottom: 0.25em;
}

.item-spacing {
  margin-bottom: 0.75em;
}

.item-header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.item-info hr {
  width: 100%;
}

.item-name {
  font-weight: bold;
}

.item-date {
  font-style: italic;
}

.item-bullets {
  list-style-type: none;
  list-style-position: inside;
}

.item-bullet::before {
  content: '-';
  padding: 0 0.5em 0em 1.5em;
}
