@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.resume-section {
  font-family: 'PT Serif', serif;

  margin-top: 1em;
  padding: 1em 2em;
  background-color: var(--llll-gray);
  border-radius: 1%;
  border: 1px solid #000;
  box-shadow: 2em 2em 5em #aaa;
}

.resume-title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}

.resume-subsection {
  position: relative;
  line-height: 1.4em;
  margin: 1.25em 0;
  font-size: 0.9em;
}

.resume-subsection-title {
  text-transform: uppercase;
  display: flex;
  font-weight: bold;
}

.resume-subsection-title::after {
  content: '';
  border-bottom: 0.1em solid black;
  flex-grow: 1;
  margin-left: 0.3em;
  margin-bottom: 0.275em;
  box-sizing: border-box;
}
