.item-info {
  margin-bottom: 0.25em;
}

.item-spacing {
  margin-bottom: 1em;
}

.item-header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.item-info hr {
  width: 100%;
}

.item-name {
  font-weight: bold;
}

.item-title {
  font-style: italic;
}

.item-date {
  font-style: italic;
  margin-left: auto;
}

.item-bullets {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 2em;
}

.item-bullet::before {
  content: '-';
  position: absolute;
  /* padding: 0 0.5em 0em 1.5em; */
  left: 0;
  padding-left: 1em;
}
