#home {
  min-height: calc(100vh - 4em);
  padding: 10% 5%;

  display: grid;
  align-content: center;
  background-color: var(--secondary-color);
  color: var(--ll-gray);

  box-shadow: 0 0 0 100vmax var(--secondary-color);
  clip-path: inset(0 -100vmax);
}

.home-firstline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-picture {
  float: left;

  width: 9em;
  height: 9em;
  margin-right: 1em;

  border: 0.3em solid var(--primary-color);
  border-radius: 50%;
}

.home-name {
  font-size: 5em;
  color: var(--primary-color);
}

.home-intro {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.home-tagline {
  margin-top: 0.5em;
  font-size: 1.2em;
  line-height: 1.3em;
}

.home-button {
  color: var(--primary-color);
  font-weight: bold;
  border: 0.2em solid var(--primary-color);
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 1em;
  padding: 0.5em 1em;
  text-align: center;
}

.arrow {
  transition: 0.5s;
}

button:hover .arrow {
  transform: rotate(90deg);
  transition: 0.3s;
}
