.education-section {
  position: relative;
  line-height: 1.3em;
}

.section-title {
  text-transform: uppercase;
  position: relative;
}

.section-title::after {
  content: '';
  border-bottom: 0.1em solid black;
  border-radius: 4px;

  left: 0;
  right: 100%;
  width: 100%;
  display: block;
}

.class-info {
  padding-top: 0.4em;
}
