.grid-container {
  padding: 2em 0 0 0;
  justify-content: center;

  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 20em;
  grid-template-columns: repeat(auto-fill, 18.5em);
  gap: 1.5em 1.5em;
}

/* TODO: cleanup this media query selector */
@media only screen and (max-width: 41.5em) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 100%);
    /* 20em / 18.5em */
    /* grid-auto-rows: 108.108%; */

    font-size: 3vw;
  }
}
