@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--lll-gray);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 520px) {
  body {
    font-size: 2.8vw;
  }
}

a,
.underline-hover {
  position: relative;

  background-image: none,
    linear-gradient(var(--primary-color), var(--primary-color));
  background-size: 100% 0.15em, 0 0.15em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

.main-container a,
.underline-hover {
  background-image: linear-gradient(var(--link-color), var(--link-color)),
    linear-gradient(var(--primary-color), var(--primary-color));
}

a:hover,
.underline-hover:hover {
  background-size: 0 0.15em, 100% 0.15em;
}

button:hover,
button:focus {
  cursor: pointer;
}

:root {
  --primary-color: #e0be56;
  --secondary-color: #121b3c;

  --link-color: #3f54a0;

  --lll-gray: #eee;
  --ll-gray: #ccc;
  --l-gray: #aaa;
  --gray: #999;
  --d-gray: #666;
  --d-gray: #333;

  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}
