@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'PT Serif', serif;
  background-color: #eee;
}

a:hover {
  text-decoration: underline;
}

:root {
  --primary-color: #e0be56;
  --secondary-color: #121e46;

  --ll-gray: #ccc;
  --l-gray: #aaa;
  --gray: #999;
  --d-gray: #666;
  --d-gray: #333;

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  /* Style ONLY applied in dark mode */
  /* :root {
    --primary-color: #d6eadf;
    --contrast-color: #162b32;
  } */
}
